reactNativeVersion/tk/node_modules/**/*
reactNativeVersion/tk/.expo/*
reactNativeVersion/tk/npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules
*.log
.nvm
/bots/node_modules/
package-lock.json

# Visual studio
.vscode
.vs

# Expo
.expo
__generated__
web-build

# Watchman
.watchmanconfig

# macOS
.DS_Store
